<div class="container-md text- left mb-5">
    <h3>About</h3>
    <p>
        This project analyzes NCAA basketball data with the Python 3.x sportsreference API. We have built several Machine Learning Models to predict the outcomes of NCAA regular season and March Madness basketball tournament games.
    </p>

    <h3>Testing Results</h3>
    <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Model</th>
          <th scope="col">Accuracy</th>
          <th scope="col">Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>
            Neural Network
          </td>
          <td>--%</td>
          <td>Custom TensorFlow model</td>
        </tr>
        </tbody>
      </table>

    <h3>Contributors</h3>
    <ul>
      <li>Michael Taylor</li>
      <li>Samarth Kasbawala</li>
    </ul>
</div>
