<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <a class="navbar-brand" id="title" [routerLink]="'/home'" (click)="isMenuCollapsed = true; aboutpage=''; predictpage=''">MLMB <fa-icon [icon]="basketball"></fa-icon></a>

  <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
  <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed;">
    &#9776;
  </button>

  <!-- Step 2: Add the ngbCollapse directive to the element below. -->
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto nav-tabs">
      <li class="nav-item">
        <!-- Step 4: Close the menu when a link is clicked. -->
        <a class="nav-link" [id]="aboutpage" [routerLink]="'/about'" (click)="isMenuCollapsed = true; aboutpage='currentpage'; predictpage=''">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [id]="predictpage" [routerLink]="'/predict'" (click)="isMenuCollapsed = true; aboutpage=''; predictpage='currentpage'">Predict</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/mike-taylor99/MLMB" (click)="isMenuCollapsed = true"><fa-icon [icon]="faGithub"></fa-icon></a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>

<footer class="bg-dark mt-5 p-3 text-center">
  <p>&#169; 2021 MLMB</p>
</footer>