<div class="container-lg text-center mb-3" id="homeHeading">
    <div>
        <span class="accr h1">M</span><span class="rest h3">achine </span><span class="accr h1">L</span><span class="rest h3">earning on </span><span class="accr h1">M</span><span class="rest h3">en's </span><span class="accr h1">B</span><span class="rest h3">asketball</span>
    </div>
</div>
<ngb-carousel *ngIf="images" class="container-sm mb-5">
    <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
        <img [src]="images[0]" alt="2014 UConn Men's Basketball">
    </div>
    </ng-template>

    <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
        <img [src]="images[1]" alt="2011 UConn Men's Basketball">
    </div>
    </ng-template>

    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img [src]="images[2]" alt="MARCH mADNESS">
        </div>
        </ng-template>
</ngb-carousel>