<div class="container-lg text-center" id="homeHeading">
    <div>
        <span class="accr h1">M</span><span class="rest h3">achine </span><span class="accr h1">L</span><span class="rest h3">earning on </span><span class="accr h1">M</span><span class="rest h3">en's </span><span class="accr h1">B</span><span class="rest h3">asketball</span>
    </div>
    <div class="description container">
        <p>
            This project analyzes NCAA basketball data with the Python 3.x sportsreference API. We have built several Machine Learning Models to predict the outcomes of NCAA regular season and March Madness basketball tournament games.
        </p>
    </div>
</div>
<ngb-carousel *ngIf="images" class="container-sm">
    <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
        <img [src]="images[0]" alt="2014 UConn Men's Basketball">
    </div>
    <div class="carousel-caption">
        <h3>2014 National Champions...</h3>
        <p>UConn was the first 7 seed ever to reach and win the championship.</p>
    </div>
    </ng-template>

    <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
        <img [src]="images[1]" alt="2011 UConn Men's Basketball">
    </div>
    <div class="carousel-caption">
        <h3>2011 National Champions...</h3>
        <p>One of the greatest runs in NCAA history.</p>
    </div>
    </ng-template>

    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img [src]="images[2]" alt="MARCH mADNESS">
        </div>
        <div class="carousel-caption">
            <h3>The Big Dance...</h3>
            <p>The NCAA Division I Men's Basketball Tournament.</p>
        </div>
        </ng-template>
</ngb-carousel>